.repo {
  float: left;
  margin: 8px 32px 8px 0;
  width: 22%;
  height: 410px;
  background-color: #fff;
  text-decoration: none;
}

.repo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  padding: 20px;
  background-color: #1fb7c7;
  border-radius: 5px 5px 0 0;
}

.repo-logo {
  height: 100%;
  /* width: 100%; */
}

.repo-info {
  padding: 8px 14px 25px;
  border-left: 1px solid #d5dade;
  border-right: 1px solid #d5dade;
  border-bottom: 1px solid #d5dade;
  border-radius: 0 0 5px 5px;
}

.repo-title {
  color: #282d2f;
  margin: 5px 0 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  min-height: 50px;
  word-wrap: break-word;
}

.repo-description {
  margin-bottom: 10px;
  color: #77848f;
  min-height: 70px;
  word-wrap: break-word;
}

.repo-stars {
  float: left;
  color: #282d2f;
  font-weight: bold;
}

.repo-forks {
  float: right;
  color: #282d2f;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1606px) {
  /* .repo {
    width: 44%;
  } */
}

@media (max-width: 900px) {
  .repo {
    width: 100%;
    margin: 0 0 30px;
  }

  .repo-title,
  .repo-description {
    min-height: 0;
    margin-bottom: 20px;
  }
}
